#root {
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.header{
  padding-top: 15px;
  display: flex;
  column-gap: 20px;
  flex-direction: column;
  row-gap: 20px;
}
.nav{
  display: flex;
  column-gap: 10px;
  font-size: 32px;
  justify-content: space-between;
}
.body{
  display: flex;
  flex-direction: column;
}